Package: com.xxdevice.CTWPro.Rootless560
Version: 5.6.0-1
Priority: standard
Section: [CTW Pro]
Maintainer: CTW
Depends: firmware (>= 4.0), mobilesubstrate, wget, gzip, coreutils
Conflicts: app.weiphone.ALS, app.weiphone.AWZ, app.weiphone.NZT, app.weiphone.LRN, app.weiphone.IGG
Architecture: iphoneos-arm64
Name: CTW Pro企业级(无根版)
Author: CTW
Icon: file:///Applications/CTW Pro.app/AppIcon60x60@2x.png
